body{
    margin: 0;
    /* background-image: url(../images/back.png); */
    background-size: 100%;
    background-position: top center;
    color: #655554;
    position: relative;
    font-family: 'Gurmukhi MN',sans-serif;
}

h1,h2,h3{
    font-weight: lighter;
}
.work{
    padding: 10vh 20vw;
    position: absolute;
    top: 200vh;
    left: 100vw;
    width: 60vw;
    z-index: 1;
}

.work img{
    width: 25vw;
}

.white{
    background-color: white;
    opacity: 0.7;
    padding: 1vw 5vw;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    font-family: 'TsukuBRdGothic-Regular',sans-serif;
}

.return{
    position: absolute;
    left: 105vw;
    top: 30vh;
    z-index: 3;
}

.return img{
    width: 5vw;
    height: 13vw;
}
.screen img{
    width: 14vw;
}
.mac img{
    width: 29vw;
}

.work_about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.fadein {
    opacity: 0;
    transform : translate(0, 50px);
    transition : all 1500ms;
  }
  
  .fadein.scrollin{
    opacity: 1;
    transform: translate(0, 0);
  }
